{% extends 'base.html' %}

{% block head %}
<title>Add Password</title>
{% endblock %}

{% block body %}
<div class="password-container row">
    <div class="col-md-6">
        <form method="post" action="{{ url_for('addPassword') }}">
            <div id="fields-container">
                <div class="field-container" id="field-name">
                    <h4 class="mt-3">Name</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="name" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="field-container" id="field-website">
                    <h4 class="mt-3">Website</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="website" class="form-control" required>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('website')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="field-container" id="field-username">
                    <h4 class="mt-3">Username</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('username')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="field-container" id="field-password">
                    <h4 class="mt-3">Password</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="password" class="form-control" required>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('password')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown mb-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="addFieldDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Field
                </button>
                <ul class="dropdown-menu" aria-labelledby="addFieldDropdown" id="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('account_number')">Account Number</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('pin')">Pin</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('date')">Date</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('other')">Other</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('email')">Email</a></li>
                </ul>
            </div>

            <div class="row mb-4">
                <div class="col-8">
                    <button type="submit" class="btn btn-primary w-100 mt-3 addPasswordButton">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
