<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}

    <title>{% block title %}MasterVault{% endblock %}</title>
</head>
<body>
<div class="logo-bar">
    <img src="{{ url_for('static', filename='logos/mastervaultLogo.png') }}" alt="Website Logo" class="baseLogo">
    {% if session['username'] %}
        <a href="{{ url_for('logout') }}" class="logout-icon float-end" title="Logout">
            <i class="bi bi-box-arrow-right"></i>
        </a>
    {% endif %}
</div>

<div class="main-container d-flex">
    <nav id="drawer" class="nav-drawer">
        <div class="user-info mt-4">
            {% if session['username'] %}
                <div class="welcome-message">
                    Welcome, {{ session['username'] }}
                </div>
                <span id="userEmail" style="display:none;">{{ session['email'] }}</span>
                <div class="email-message">
                    Email: {{ session['email'] }}
                </div>
            {% endif %}
        </div>
        <ul class="navFont">
            {% if accountType == 'family' %}
                <li><a href="/familyPasswordList">Passwords</a></li>
            {% else %}
                <li><a href="/passwordList">Passwords</a></li>
            {% endif %}

            <li><a href="/create_password">Password Generator</a></li>
            <li><a href="/about">About Us</a></li>

           {% if accountType == 'family' %}
               <li><a href="/settingsFamily">Settings</a></li>
           {% else %}
               <li><a href="/settings">Settings</a></li>
           {% endif %}
        </ul>
    </nav>
</div>

<div class="flex-grow-1 p-4">
    {% block body %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>

