{% extends 'base.html' %}

{% block head %}
<title>Create Password</title>
{% endblock %}

{% block body %}
<div class="password-container">
    <div class="col-md-5">
        {% if password %}
            <h4 class="mt-3 passwordGeneratortitleFont">Generated Password</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="generated-password" class="form-control" value="{{ password }}">
                </div>
                <div class="col-4">
                    <button type="button" onclick="refreshPassword()" class="btn btn-secondary refreshButton">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                    <button type="button" onclick="copyToClipboard()" id="clipboard-button" class="btn btn-secondary clipboardButton">
                    <i class="bi bi-clipboard" id="clipboard-icon"></i>
                    </button>
                </div>
            </div>
        {% endif %}

        {% if strength %}
            <h5 class="mt-3">Password Strength</h5>
            <div class="progress" style="height: 20px;" id="strength-bar">
                <div class="progress-bar" role="progressbar" style="width:{{ strength.score * 25 }}%; background-color: {{ strength.color }};" aria-valuenow="{{ strength.score }}" aria-valuemin="0" aria-valuemax="4" id="strength-bar-inner">
                </div>
            </div>
            <p id="strength-text">{{ strength.status }}</p>

        {% endif %}

        <h4 class="mb-5 mt-5">Password Generator</h4>
        <form method="POST" action="/create_password" onsubmit="return validateForm();">
            <label for="phrase">Phrase:</label>
            <input type="text" name="phrase" id="phrase-input" class="form-control" value="{{ phrase }}" required oninput="updateLengthInput()"><br>

            <label for="length">Password Length:</label>
            <input type="number" name="length" id="length-input" class="form-control" min="1" max="80" value="{{ phrase|length }}" required><br>


            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" name="replace_vowels" id="replace_vowels" {% if replace_vowels %}checked{% endif %} onchange="handleReplaceVowelsToggle();">
                 <label class="form-check-label" for="replace_vowels">Replace Vowels</label><br>
            </div>

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" name="exclude_numbers" id="exclude_numbers" {% if exclude_numbers %}checked{% endif %}>
                <label class="form-check-label" for="exclude_numbers">Exclude Numbers</label><br>
            </div>

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" name="exclude_symbols" id="exclude_symbols" {% if exclude_symbols %}checked{% endif %}>
                <label class="form-check-label" for="exclude_symbols">Exclude Symbols</label><br>
            </div>

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" name="replace_most_frequent_vowel" id="replace_most_frequent_vowel" {% if replace_most_frequent_vowel %}checked{% endif %}>
                <label class="form-check-label" for="replace_most_frequent_vowel">Replace Most Frequent Vowel</label><br>
            </div>

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" name="randomize" id="randomize" {% if randomize %}checked{% endif %}>
                <label class="form-check-label" for="randomize">Randomize</label><br>
            </div>

            <input type="submit" value="Generate Password" class="btn btn-primary mt-4 generatePasswordbutton">
        </form>
    </div>
</div>
{% endblock %}




