<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <title>MasterVault</title>
</head>


<body>
      <header class="Landingheader">
        <div class="Landinglogo">
            <img src="{{ url_for('static', filename='logos/mastervaultLogo.png') }}" alt="Website Logo">
        </div>

        <nav class="navbarLanding">
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#" class="Landingbtn btn-login">LOG IN</a></li>
                <li><a href="#" class="Landingbtn btn-register">REGISTER</a></li>
            </ul>
        </nav>
    </header>

     <section class="Landing-intro">
        <div class="Landing-text">
            <h2>Secure and simplify your password management with MasterVault</h2>
            <p>MasterVault offers secure, user-friendly password management and generator tools to protect your passwords.</p>
        </div>
        <div class="Landing-image">
            <img src="{{ url_for('static', filename='logos/landingPageimg.png') }}" alt="Password Management Illustration">
        </div>
    </section>

    <section class="Landingfeatures">
        <div class="Landingfeature-item">
            <img src="{{ url_for('static', filename='logos/PasswordgeneratorLanding.svg') }}" alt="Paraphrase Generator Icon">
            <h3>Paraphrase Generator</h3>
            <p>Create strong, unique passwords for all your accounts with a single click.</p>
        </div>
        <div class="Landingfeature-item">
            <img src="{{ url_for('static', filename='logos/256EncryptionLanding.svg') }}" alt="AES-256 Encryption Icon">
            <h3>AES-256 Encryption</h3>
            <p>Advanced Encryption to keep your data from unauthorized access.</p>
        </div>
        <div class="Landingfeature-item">
            <img src="{{ url_for('static', filename='logos/FamilyAccountLanding.svg') }}" alt="Family Account Icon">
            <h3>Family Account</h3>
            <p>Invite family members to a shared vault and securely manage passwords together.</p>
        </div>
        <div class="Landingfeature-item">
            <img src="{{ url_for('static', filename='logos/ChromeExtensionLanding.svg') }}" alt="Google Chrome Extension Icon">
            <h3>Google Chrome Extension</h3>
            <p>Access and create passwords directly from your browser with ease.</p>
        </div>
    </section>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>