{% extends 'base.html' %}

{% block head %}
<title>Password View</title>
{% endblock %}

{% block body %}
<div class="password-container row">
    <div class="col-md-6">
        <form method="post" action="{{ url_for('passwordView', name=password_data.name) }}">
            <div id="fields-container">
                {% if password_data.name %}
                <h4 class="mt-3">Name</h4>
                <div class="row mb-4">
                    <div class="col-8">
                        <input type="text" id="name-input" name="name" class="form-control" value="{{ password_data.name }}" required>
                    </div>
                </div>
                {% endif %}

                {% if password_data.website %}
                <div class="field-container" id="field-website">
                    <h4 class="mt-3">Website</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="website-input" name="website" class="form-control" value="{{ password_data.website }}" required>
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('website-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="website-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('website')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if password_data.username %}
                <div class="field-container" id="field-username">
                    <h4 class="mt-3">Username</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="username-input" name="username" class="form-control" value="{{ password_data.username }}" required>
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('username-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="username-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('username')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if password_data.accountNumber %}
                <div class="field-container" id="field-accountNumber">
                    <h4 class="mt-3">Account Number</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="account-number-input" name="accountNumber" class="form-control" value="{{ password_data.accountNumber }}">
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('account-number-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="account-number-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('accountNumber')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if password_data.pin %}
                <div class="field-container" id="field-pin">
                    <h4 class="mt-3">PIN</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="pin-input" name="pin" class="form-control" value="{{ password_data.pin }}">
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('pin-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="pin-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('pin')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if password_data.date %}
                <div class="field-container" id="field-date">
                    <h4 class="mt-3">Date</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="date-input" name="date" class="form-control" value="{{ password_data.date }}">
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('date-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="date-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('date')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if password_data.password %}
                <div class="field-container" id="field-password">
                    <h4 class="mt-3">Password</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="password-input" name="password" class="form-control" value="{{ password_data.password }}" required>
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('password-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="password-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('password')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if password_data.other %}
                <div class="field-container" id="field-other">
                    <h4 class="mt-3">Other</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" id="other-input" name="other" class="form-control" value="{{ password_data.other }}">
                        </div>
                        <div class="col-4">
                            <button type="button" onclick="copyToClipboard('other-input')" class="btn btn-secondary clipboardButton">
                                <i class="bi bi-clipboard" id="other-icon"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('other')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="dropdown mb-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="addFieldDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Field
                </button>
                <ul class="dropdown-menu" aria-labelledby="addFieldDropdown" id="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('accountNumber')">Account Number</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('pin')">Pin</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('date')">Date</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('other')">Other</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('email')">Email</a></li>
                </ul>
            </div>

            <div class="row mb-4">
                <div class="col-8">
                    <button type="submit" class="btn btn-secondary w-100 mt-3 addPasswordButton">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


